body {
    background-color: #04A6ED;
    color: #FDFFFF;
    width: 500px;
    margin-right:auto;
    margin-left: auto;
}

button {
    padding: 5px;
    background-color: #337AB7;
    border-style: none;
    color: #FDFFFF;
}

input {
    height :20px;
}

